body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
}
.orange {
    color: orange;
}
section{
    display: flex;
}
.half-width {
    width: 200%;
    padding-left: 10%;
}
.hire-me{
  color: beige; 
    background-color: orangered;
    background-image: linear-gradient( orange, tomato );
    font-weight: 700;
    border: orangered;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px ;
}
